<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <header>
        <div class="header-container">
            <img src="Imagenes/logos.jpg" alt="Logo de la Tienda" class="logo">
            <h1>Tienda Online</h1>
            <nav>
                <ul>
                    <li><a href="">CARRITO</a></li>
                    <li><a href="">CONTACTOS</a></li>
                </ul>
            </nav>
        </div>               
    </header>
   
    <main>
        
        <h2>EQUIPOS DE COMUNICACION</h2>
        <div class="productos">
            <% productos.forEach(producto => { %>
                <div class="producto">
                        <img src="Imagenes/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="producto-imagen" 
                            data-id="<%= producto.id %>" 
                            data-nombre="<%= producto.nombre %>" 
                            data-precio="<%= producto.precio %>" 
                            data-descripcion="<%= producto.detalle %>"
                            data-imagen="Imagenes/<%= producto.imagen %>"> <!-- Agregar data-imagen -->
                        <img src="Imagenes/<%= producto.imagen1 %>" alt="<%= producto.nombre %>" class="producto-imagen" 
                            data-id="<%= producto.id %>" 
                            data-nombre="<%= producto.nombre %>" 
                            data-precio="<%= producto.precio %>" 
                            data-descripcion="<%= producto.detalle %>"     
                            data-imagen="Imagenes/<%= producto.imagen1 %>"> <!-- Agregar data-imagen -->
                    <h3><%= producto.nombre %></h3>
                    <p>Costo: <%= producto.precio %> $.</p>
                </div>
            <% }); %>
        </div>
    </main>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modal-imagen" src="" alt="Imagen del producto"> <!-- Imagen del producto en el modal -->
            <h2 id="modal-nombre"></h2>
            <p id="modal-descripcion"></p>
            <p id="modal-precio"></p>
        </div>
    </div>

    <footer>
        <p>&copy; Tienda Online SOFTCORP</p>
    </footer>

    <script>
       
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        var imagenes = document.querySelectorAll('.producto-imagen');
        
        imagenes.forEach(function(imagen) {
        imagen.onclick = function() {
        
        var nombre = this.getAttribute('data-nombre');
        var descripcion = this.getAttribute('data-descripcion');
        var precio = this.getAttribute('data-precio');
        var imagenSrc = this.getAttribute('data-imagen'); // Obtener la imagen

        document.getElementById('modal-nombre').innerText = nombre;
        document.getElementById('modal-descripcion').innerText = descripcion;
        document.getElementById('modal-precio').innerText = 'Costo: ' + precio + ' $.';
        document.getElementById('modal-imagen').src = imagenSrc; // Establecer la imagen en el modal

        modal.style.display = "block";
            }
        });

       
        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body