<!-- src/views/usuarios/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Principal</title>
  <link rel="stylesheet" href="/css/Style.css">
  <link rel="stylesheet" href="/css/Indexu.css">
</head>
<body>
  <header>
    <div class="header-left">
      <img src="/images/logo.png" alt="Logo Caja Nacional de Salud" />
      <div class="header-text">
        <h1>CAJA NACIONAL DE SALUD</h1>
        <h2>DISTRITAL TUPIZA</h2>
      </div>
    </div>
  </header>

  <nav class="header-right">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li class="coltext">Usuarios
        <ul>
          <li><a href="/usuarios">Lista de Usuarios</a></li>
          <li><a href="/usuarios/crear">Registrar Usuario</a></li>
        </ul>
      </li>
      <li class="coltext">Compras
        <ul>
          <li><a href="/compras">Lista de Compras</a></li>
          <li><a href="/compras/crear">Registrar Compra</a></li>
        </ul>
      </li>
      <li class="coltext">Productos <!-- Agregar el menú de productos aquí -->
        <ul>
          <li><a href="/productos">Lista de Productos</a></li>
          <li><a href="/productos/crear">Registrar Producto</a></li>
        </ul>
      </li>
      <li class="coltext">Proveedores
        <ul>
          <li><a href="/proveedores">Lista de Proveedores</a></li>
          <li><a href="/proveedores/crear">Registrar Proveedor</a></li>
        </ul>
      </li>
      <li>
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar Sesión</a>
      </li>
    </ul>
    <form id="logout-form" action="/auth/logout" method="POST" style="display: none;">
    </form>
  </nav>
  <h1 class="title">Lista de Usuarios</h1>
  <form action="/usuarios/crear" method="GET" style="display:inline;">
    <button type="submit" class="btn modificar">Crear Usuario</button>
  </form>
   <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Correo</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% usuarios.forEach(usuario => { %>
        <tr>
          <td><%= usuario.id %></td>
          <td><%= usuario.correo %></td>
          <td><%= usuario.nombre %></td>
          <td><%= usuario.nusuario %></td>
          <td><%= usuario.rol %></td>
          <td>
            <form action="/usuarios/editar/<%= usuario.id %>" method="GET" style="display:inline;">
                <button type="submit" class="btn modificar">Modificar</button>
            </form>
            <form action="/usuarios/eliminar/<%= usuario.id %>" method="POST" style="display:inline;">
                <button type="submit" class="btn eliminar">Eliminar</button>
            </form>
        </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <footer>
    &copy; 2025 Caja Nacional de Salud - Todos los derechos reservados
  </footer>
</body>
</html>
