<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Agenda</title>
  <style>
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  h1 {
    text-align: center;
    color: #944b4b;
  }
  label {
    display: block;
    margin-top: 10px;
  }
  input {
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #1a7c1a;
    border-radius: 4px;
  }
  button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #6e4b8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #218838;
  }
  a {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>  
</head>
<body>
  <h1>Editar Agenda</h1>
  <form action="/RegAgenda/editar/<%= agenda2.id %>" method="POST">
  <label for="Nombres">Nombres:</label>
    <input
      type="text"
      name="nombres"
      id="nombres"
      value="<%= agenda2.nombres %>"
      required
    />
    <br />
    <label for="apellidos">apellidos:</label>
    <input
      type="text"
      name="apellidos"
      id="apellidos"
      value="<%= agenda2.apellidos %>"
      required
    />
    <br />
    <label for="direccion">direccion</label>
    <input
      type="text"
      name="direccion"
      id="direccion"
      value="<%= agenda2.direccion %>"
      required
    />
    <br />
    <label for="telefono">telefono:</label>
    <input
      type="int"
      name="telefono"
      id="telefono"
      value="<%= agenda2.telefono %>"
      required
    />
    <br />  
    <button type="submit">Guardar</button>
  </form>
  <a href="/">Volver</a>
</body>
</html>
