<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/creatEdit.css">
</head>
<body>
    <h1>Editar Usuario</h1>
    <form action="/Cliente/<%= cliente._id %>?_method=PUT" method="POST">
        <label>CI: <input type="number" name="ci" value="<%= cliente.ci %>" required></label><br>
        <label>Nombres: <input type="text" name="nombres" value="<%= cliente.nombres %>" required></label><br>
        <label>Apellidos: <input type="text" name="apellidos" value="<%= cliente.apellidos %>" required></label><br>
        <label>Celular: <input type="number" name="celular" value="<%= cliente.celular %>" required></label><br>
        <label>Correo: <input type="email" name="correo" value="<%= cliente.correo %>" required></label><br>
        <div class="button-container">
            <button class="boton" type="submit">Actualizar</button>
            <a href="/" class="boton">Cancelar</a>
        </div>   
    </form>
</body>
</html>
