<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>
    <h1>Lista de Clientes</h1>
    <a href="/Cliente/new" class="boton">Crear Nuevo Cliente</a>
    <ul>
        <% clientes.forEach(cliente => { %>
            <li>
                <strong><%= cliente.ci %></strong> - <%= cliente.nombres%> - <%= cliente.apellidos %> - <%= cliente.celular%> - <%= cliente.correo%>   
                <a href="/Cliente/<%= cliente._id %>">Ver</a>
                <a href="/Cliente/<%= cliente._id %>/edit">Editar</a>
                <form action="/Cliente/<%= cliente._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>