<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Cliente</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/show.css">
</head>
<body>
    <h2>CI: <%= cliente.ci %></h2>
    <p><strong>Nombres:</strong> <%= cliente.nombres %></p>
    <p><strong>Apellidos:</strong> <%= cliente.apellidos %></p>
    <p><strong>Celular:</strong> <%= cliente.celular %></p>
    <p><strong>Correo:</strong> <%= cliente.correo %></p>
    <a href="/">Regresar</a>
</body>
</html>
