<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Cliente</title>
</head>
<body>
    <h1>CI: <%= user.ci %></h1>
    <p><strong>Nombres:</strong> <%= user.nombres %></p>
    <p><strong>Apellidos:</strong> <%= user.apellidos %></p>
    <p><strong>Celular:</strong> <%= user.celular %></p>
    <p><strong>Correo:</strong> <%= user.correo %></p>
    <a href="/">Regresar</a>
</body>
</html>